# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Pytest cache
.pytest_cache/

# VS Code and IDE config
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
